<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>Selamat Datang <%=result.name%>
    </h3>

    <h2>Berikut Konten yang anda buat</h2>
    <button onclick="location.href='/<%= result.MemberId%>/creator/add'">Add Content</button><br><br>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        <% result.Posts.forEach(e=>{%>
            <tr>
                <td>
                    <%= e.title %>
                </td>
                <td><img src='/<%=e.fileUpload%>' width="250" height="250"></td>
                <td>
                    <%= e.description %>
                </td>
                <td>
                    <a href="/<%=result.MemberId%>/<%=e.id%>/delete"><button>Delete Content</button></a>
                    <a href="/<%=result.MemberId%>/<%=e.id%>/edit"><button>edit Content</button></a>
                </td>
            </tr>
            <%}) %>
    </table>
</body>

</html>