<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Main Home</h1><br><br>
    <% if(data.profile.dataValues.Member.dataValues.role === "ContentCreator"){%>
        <button onclick="location.href='/<%= userid %>/creator'">Content crator</button><br><br>
    <%} %> 
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Gifs</th>
            <th>Description</th>
            <th>Creator</th>
            <th>like</th>
            <th>Action</th>
        </tr>
        <% data.Post.forEach(e=>{%>
            <tr>
                <td>
                    <%= e.title %>
                </td>
                <td><img src='/<%=e.fileUpload%>'></td>
                <td>
                    <%= e.description %>
                </td>
                <td><%= e.Profile.name %></td>
                <td><%= e.like %></td>
                <td>
                    <button onclick="location.href='/<%= e.id %>/creator/like'">Like</button><br><br>
                    <% if(e.like !== 0){ %>
                        <button onclick="location.href='/<%= e.id %>/creator/dislike'">Dislike</button><br><br>
                    <% } %> 
                </td>
            </tr>
            <%}) %>
    </table>
</body>

</html>