<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Main Home</h1><br><br>
    <button onclick="location.href='/Logout'">Log Out</button><br><br>
    <% if(data.profile.dataValues.Member.dataValues.role==="ContentCreator" ){%>
        <button onclick="location.href='/<%= userid %>/creator'">Content crator</button><br><br>
        <%} %>

            <h3>your user profile</h3>
            <p>Name: <%=data.profile.name%>
            </p>
            <p>Gender: <%=data.profile.gender%>
            </p>
            <p>About Your Self: <%=data.profile.selfDescription%>
            </p>


            <table border="1">
                <tr>
                    <th>Title</th>
                    <th>Gifs</th>
                    <th>Description</th>
                    <th>Creator</th>
                    <th>like</th>
                    <th>Action</th>
                </tr>
                <% data.Post.forEach(e=>{%>
                    <tr>
                        <td>
                            <%= e.title %>
                        </td>
                        <td><img src='/<%=e.fileUpload%>' width="250" height="250"></td>
                        <td>
                            <%= e.description %>
                        </td>
                        <td>
                            Posted by <%= e.Profile.name %>,<br>
                                on <%= dateFormat(e.Profile.createdAt) %>
                        </td>
                        <td>
                            <%= e.like %>
                        </td>
                        <td>
                            <button
                                onclick="location.href='/<%= userid %>/<%= e.id %>/creator/like'">Like</button><br><br>
                            <% if(e.like !==0){ %>
                                <button
                                    onclick="location.href='/<%= userid %>/<%= e.id %>/creator/dislike'">Dislike</button><br><br>
                                <% } %>
                        </td>
                    </tr>
                    <%}) %>
            </table>
</body>

</html>